@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Warang+Citi&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
button:focus {
  outline: 0;
}

canvas.border {
  border: 2px solid #22836e;
}

html,
body {
  height: 100%;
  font-family: "Noto Sans Warang Citi";
  color: #6e7888;
}
body {
  background-color: #04292c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6e7888;
}
.container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
#points {
  display: flex;
  align-items: center;
  font-size: 15px;
  flex-flow: column;
  margin-left: 10px;
  position: absolute;
  width: 70px;
  height: 65px;
  left: 1150px;
  top: 300px;
}
h2 {
  font-weight: 100;
  font-size: 2rem;
}
#score {
  margin-top: 10px;
  font-size: 30px;
  font-weight: 900;
}
.noselect {
  user-select: none;
}
#level {
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  background: #6e7888;
  border: none;
  color: #02201a;
  border-radius: 20px;
  font-weight: 700;
}
#level:hover {
  background: #a6aab5;
  background: #22836e;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#replay {
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  background: #6e7888;
  border: none;
  color: #02201a;
  border-radius: 20px;
  font-weight: 700;
}
#replay:hover {
  background: #a6aab5;
  background: #22836e;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#border {
  font-size: 15px;
  padding: 10px 20px;
  margin: 10px;
  background: #6e7888;
  border: none;
  color: #02201a;
  border-radius: 20px;
  font-weight: 700;
}
#border:hover {
  background: #a6aab5;
  background: #22836e;
  transition: all 200ms cubic-bezier(0.4, 0, 0.2, 1);
}
#author {
  width: 100%;
  bottom: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: inherit;
  text-transform: uppercase;
  padding-left: 35px;
  position: absolute;
  width: 263px;
  height: 147px;
  left: 150px;
  top: 230px;
}
#author span {
  font-size: 15px;
  margin-left: 20px;
  color: inherit;
  letter-spacing: 4px;
}
#author h1 {
  font-size: 36px;
}
.wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
